@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


//font
$lato-font: 'Lato', sans-serif;


//backgrounds
$transparentBg: transparent;

//textColor
$textBright:#fff;
$hoverTextColor:#e62f89;

